.backg{
    background-color: #dddddd;
    width: 100%;
}
.thumbnails {
    width: 100%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #2b2b2b;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.caption{
    margin-left: 10px;
}
.buttonu{
    margin-left: -5px;
    width: 100%;
}