
<footer class="footer navbar-fixed-bottom">
<div class= "navbar navbar-inverse navbar-static-bottom">
    <div></div>
    <div class="navbar-text pull-left">
    </div>
    <div class= "navbar-text pull-right">
        <div class="col-md-12">
            <ul class="social-network social-circle ser">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-text pull-left">
        <p class="Copyright">&copy; Copyright 2017 by <a href="/" class="Copyright CopyrightLink">TIGEN TECH</a> All Right Reserved</p>

    <div class="push"></div>
        <div class="navbar container">
            <br>
            <hr class="style17">

        </div>
    <div class="ContactUs ">
        Contact Us By         <ul class="social-network social-circle ser">{% comment %}<i class="fa fa-telegram"></i>{% endcomment %}<li><a href="#" class="icoTelegram" title="Telegram"><i class="fa fa-telegram"></i></a></li></ul>
    </div>
    <div class="push"></div>
    </div>
    <div class="clearfix"></div>
</div>
    <br>
</footer>